<div class="content-heading">
  <small>
    <a [routerLink]=" ['/home'] ">Beranda</a> ->
    <a (click)="backClicked()">Lihat Mitra</a> ->
    Perbaharui ID Mitra
  </small>
</div>

<div class="panel b">
  <div class="panel-heading text-bold bg-purple-dark">Perbaharui Id Mitra </div> <!-- {{userList.length}} -->
  <div class="panel-body">
    
    <form (ngSubmit)="updateIdMitra(f)" #f="ngForm">
      
      <div class="form-group">
        <label>Kode Wilayah:</label>
        <input class="form-control" id="idwilayah" name="idwilayah" type="text" required="" 
        	placeholder="Id Wilayah" [(ngModel)]="mitraIdDetail.idwilayah" required="true">
      </div>

      <div class="form-group">
        <label>Bulan:</label>
        <input class="form-control" id="idbulan" name="idbulan" type="text" required="" 
          placeholder="Bulan" [(ngModel)]="mitraIdDetail.idbulan" required="true">
      </div>

      <div class="form-group">
        <label>Tahun:</label>
        <input class="form-control" id="idtahun" name="idtahun" type="text" required="" 
          placeholder="Tahun" [(ngModel)]="mitraIdDetail.idtahun" required="true">
      </div>

      <div class="form-group">
        <label>Kode Pembiayaan & Kode Bank:</label>
        <input class="form-control" id="idbank" name="idbank" type="text" required="" 
          placeholder="Id Bank" [(ngModel)]="mitraIdDetail.idbank" required="true">
      </div>
      
      <div class="pull-right">
        <button class="mb-sm btn btn-purple" type="submit" [disabled]="!f.valid">
        	Perbaharui
        </button>
      </div>
    </form>

  </div>
</div>

