<div class="content-heading">
    <div class="pull-right">
        <!-- <label class="file-upload">
            <a [routerLink]="'/mitras/addMitra'">
                <button class="btn btn-warning"><em class="fa fa-plus"></em>&nbsp;&nbsp; Tambah Mitra</button>
            </a>
        </label> -->
    </div>
    <small><a [routerLink]=" ['/home'] ">Beranda</a> -> Daftar Mitra</small>
</div>
<!-- Zero Configuration-->
<div class="panel panel-default">
    <div class="panel-heading">Daftar Mitra</div>
    <div class="panel-body">
        <div class="table-responsive customTable">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="thsearch text-center">
                        Nama
                    </th>
                    <th class="thsearch text-center">
                        Email
                    </th>
                    <th class="thsearch text-center">
                        Telepon
                    </th>
                    <th class="thnosearch  text-center">
                        Lihat
                    </th>

                    <th class="thnosearch  text-center">
                        Pendanaan
                    </th>

                    <th class="thnosearch  text-center">
                        Hapus
                    </th>

                    <th class="thnoitem"></th>
                </tr>
                </thead>
                <tbody *ngFor="let item of users">
                <tr class=" text-center" *ngIf="item.role != 'Admin'">
                    <td>{{item.name}}
                    <td>{{item.email}}</td>
                    <td>{{item.mobileNo}}</td>
                    <td>
                        <button class="btn btn-sm btn-default" type="button" (click)="usersShow(item.key)">
                            <em class="fa fa-search"></em>
                        </button>
                    </td>

                    <td *ngIf="item.pendanaan != 'benar'">
                        <button class="btn btn-sm btn-default" type="button" (click)="usersCreate(item.key)"><em
                                class="fa fa-pencil"></em></button>
                    </td>

                    <td *ngIf="item.pendanaan == 'benar'">
                        <button class="btn btn-sm btn-default" type="button" (click)="usersEdit(item.key)"><em
                                class="fa fa-pencil"></em></button>
                    </td>
                    
                    <td>
                        <button class="btn btn-sm btn-danger" type="button" (click)="usersDelete(item.key)"><em
                                class="fa fa-trash-o"></em></button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
