<div class="content-heading">
<small>
        <a [routerLink]="['/users/manageUsers']"> Pengguna </a>->
            Lihat Pengguna 
 </small>
 </div>
<div class="col-masonry">
        <div class="panel b m0">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class="row">
                     <div class="col-lg-8">
                     <div class="row">
                    <div class="col-lg-5">
                        <h5 class="media-heading">Nama:</h5>
                    </div>
                    <div class="col-lg-6">
                        <p>{{userDetails.name}}</p>
                    </div>
                    </div>
                    </div>
                     <div class="col-lg-8">
                     <div class="row">

                    <div class="col-lg-5">
                        <h5 class="media-heading">Email:</h5>
                    </div>
                    <div class="col-lg-6">
                        <p>{{userDetails.email}}</p>
                    </div>
                    </div>
                    </div>
                     <div class="col-lg-8">
                     <div class="row">
                    <div class="col-lg-5">
                        <h5 class="media-heading">Telepon:</h5>
                    </div>
                    <div class="col-lg-6">
                        <p>{{userDetails.mobileNo}}</p>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
