.content-heading {
  padding: 20px 30px;
}

.panel-body {
  position: relative;
  .custom-heading {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 10px;
    font-size: 13px;
  }
  .custom-title {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    padding:  10px;
    font-size: 15px;
  }
  .row {
    margin-left: -8px;
    font-size: 13px;
  }
}

.panel-footer {
   .fa{
      color:#fff;
      font-size: 18px;
   }
   a{
      color:#fff;
   }
  a:not(:first-child) {
    margin-left: 6px;
  }
}
