<div class="content-heading"> 
    <small><a [routerLink]=" ['/home'] ">Beranda</a> ->
        <a [routerLink]="['/menu/manageItems']"> Produk Toko </a>->
        Tambahkan Produk Toko
    </small>
</div>

<!-- START panel-->
<div class="panel panel-default">
    <div class="panel-heading">Rincian Produk</div>
    <div class="panel-body">

      <div class="form-group row">

        <div class="col-lg-8">
          <div class="col-lg-5">

            <input type="file" class="upload" id="inputFileIdSesudah" accept="image/*" 
              (change)="detectFiles($event)">

              <!-- <button [disabled]="!selectedFiles" (click)="uploadSingleBesar()"> -->
                <button [disabled]="!selectedFiles" (click)="uploadSingleBesar()">
                Upload Gambar Besar..!
              </button>
            </div>

            <div class="col-lg-6">
              <a>
                <img [src]="gambarBesar">
              </a>

              <br />
              <div *ngIf="currentUpload">
                <div class="progress">
                  <div class="progress-bar progress-bar-animated" 
                    [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
                </div>
                Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete <br/>
                Size: {{ currentUpload?.ukuran | number }} bytes

                <br />
                <button (click)="taskBesar.pause()" class="btn-task"> Pause</button>
                <button (click)="taskBesar.resume()" class="btn-task"> Lanjut</button>
                <button (click)="taskBesar.cancel()" class="btn-danger"> Batal</button>
              </div>

            </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-8">
          <div class="col-lg-5">

            <input type="file" class="upload" id="inputFileIdSesudah" accept="image/*" 
              (change)="detectFilesKecil($event)">

              <button [disabled]="!selectedFilesKecil" (click)="uploadSingleKecil()">
                Upload Gambar Kecil..!
              </button>
            </div>

            <div class="col-lg-6">
              <a>
                <img [src]="gambarKecil">
              </a>

              <br />
              <div *ngIf="currentUploadKecil">
                <div class="progress">
                  <div class="progress-bar progress-bar-animated" 
                    [ngStyle]="{ 'width': currentUploadKecil?.progress + '%' }"></div>
                </div>
                Progress: {{currentUploadKecil?.name}} | {{currentUploadKecil?.progress}}% Complete <br/>
                Size: {{ currentUploadKecil?.ukuran | number }} bytes

                <br />
                <button (click)="taskKecil.pause()" class="btn-task"> Pause</button>
                <button (click)="taskKecil.resume()" class="btn-task"> Lanjut</button>
                <button (click)="taskKecil.cancel()" class="btn-danger"> Batal</button>
              </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <button class="btn btn-primary pull-right s-n-btn" (click)="simpanGambar()">Selesai</button>
      </div>

    </div>
</div>