<div class="content-heading">
  <small>
    <a [routerLink]=" ['/home'] ">Beranda</a> ->
    <a [routerLink]=" ['/beranda/manageBeranda'] ">Beranda Android</a> ->
      Perbaharui Beranda Android
  </small>
</div>

<div class="container-md">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div class="panel b">
        <div class="panel-heading text-bold bg-purple-dark">Perbaharui Beranda Android</div>
        <div class="panel-body">

          <div class="form-group row">
            <div class="col-lg-8">
              <div class="col-lg-5">

                <input type="file" class="upload" id="inputFileIdGambar" accept="image/*" 
                  (change)="detectFiles($event)">

                <button [disabled]="!selectedFiles" (click)="editUploadKategori()">
                  Upload Gambar..
                </button>
              </div>

              <div class="col-lg-6">
                <a><img [src]="gambarBeranda"></a>

                <br />
                <div *ngIf="currentUpload">
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated" 
                      [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
                    </div>

                    Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete <br/>
                    Size: {{ currentUpload?.ukuran | number }} bytes

                    <br />
                    <button (click)="taskBeranda.pause()" class="btn-task"> Pause</button>
                    <button (click)="taskBeranda.resume()" class="btn-task"> Lanjut</button>
                    <button (click)="taskBeranda.cancel()" class="btn-danger"> Batal</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <button class="btn btn-primary pull-right s-n-btn" (click)="simpanGambar()">Simpan</button>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
